page-feedback-form {

  .bg {
    background: map-get($colors, light);
  }

  .slides-md {
    height: initial;
  }
  
  .fab {
    margin-top: 10vw;
    margin-right: -2vw;
    width: 40px;
    height: 40px;
  }

}
