<ion-header>
  <ion-navbar color="primary">
    <ion-title>FeedBack</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="bg">

  <ion-slides>

    <ion-slide>
      <ion-card>
        <ion-card-header>Colaboradores</ion-card-header>
        <hr />
        <ion-card-content>
            <ion-list>
                  <button ion-item *ngFor="let profile of profiles"
                    (click)="avaliar(profile)"
                  >                  
                  <ion-avatar item-start>
                    <img [src]="getImageProfile(profile?.photoBase64)"/>
                  </ion-avatar>                  
                  <h2>{{profile?.name}}</h2>                  
                  <p>{{profile?.jobTitle}}</p>
                  <ion-icon item-end name="megaphone"></ion-icon>
                </button>
              </ion-list>
        </ion-card-content>
      </ion-card>
      <p>
        Selecione o colaborador que deseja avaliar
      </p>
    </ion-slide>
    <ion-slide >
      <p ion-text color="orange">Avaliando {{ this.profileSelected?.name }} / {{ this.profileSelected?.jobTitle }}</p>

      <ion-fab top right>
          <button ion-fab color="secondary" (click)="scrollToBottom()">
              <ion-icon name="arrow-down"></ion-icon>
          </button>
      </ion-fab>
      <ion-fab bottom right>
          <button ion-fab color="secondary" (click)="scrollToTop()">
              <ion-icon name="arrow-up"></ion-icon>
          </button>
      </ion-fab>

      <ion-card>
        <ion-card-header>Competências</ion-card-header>
        <hr />
        <ion-card-content>
            
          <ion-list>              
              <star-rating [title]="skill" *ngFor="let skill of job?.skills.sort()" (ratingChanged)="updateRating(skill, $event)"></star-rating>
          </ion-list>
          
        </ion-card-content>
      </ion-card>
    </ion-slide>

  </ion-slides>

  <ion-grid>
    <ion-row>
      <ion-col col-6 text-center *ngIf="showPersonalDetailsForm">
        <button ion-button block 
          (click)="back()">
          Cancelar
        </button>
      </ion-col>
      <ion-col col-6 text-center *ngIf="showPersonalDetailsForm">
          <button ion-button block (click)="submit()">
              Salvar
            </button>
        </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>