page-login {

    .vertical-align-content > *
    {
     display: flex!important;
     align-content: center!important;
     align-items: center!important;
    }

    img {
        max-width:200px;
        width: auto;
        height: auto;
    }
    
}
