<ion-header>
  <ion-navbar color="primary">
    <ion-title>Seu Perfil</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <h4 ion-text color="orange" text-center>Função</h4>
  <ion-item>
    <ion-label floating>Selecione</ion-label>
    <ion-select [(ngModel)]="jobSelected">
      <ion-option *ngFor="let job of jobs" [value]="job">{{ job.name }}</ion-option>
    </ion-select>
  </ion-item>
  <div *ngIf="jobSelected"> 
          <ion-label>Competências:</ion-label>
          <ion-badge color="light"  *ngFor="let skill of jobSelected.skills.sort()" >{{skill}}</ion-badge>
  </div>
  <div padding></div>
  <button [attr.disabled]="jobSelected ? null : ''" ion-button block (click)="save()">Salvar</button>

  
</ion-content>
