<!-- Generated template for the StarRatingComponent component -->
<div>
  <ion-icon large color="{{ rating >= 1 ? 'pink' : 'light' }}" name="star" (click)="changeRating(0)"></ion-icon>
  <ion-icon large color="{{ rating >= 2 ? 'pink' : 'light' }}" name="star" (click)="changeRating(1)"></ion-icon>
  <ion-icon large color="{{ rating >= 3 ? 'pink' : 'light' }}" name="star" (click)="changeRating(2)"></ion-icon>
  <ion-icon large color="{{ rating >= 4 ? 'pink' : 'light' }}" name="star" (click)="changeRating(3)"></ion-icon>
  <ion-icon large color="{{ rating >= 5 ? 'pink' : 'light' }}" name="star" (click)="changeRating(4)"></ion-icon>
</div>
