page-menu {

  .button-md {
    height: 70px;
    font-size: 1.4em;
  }

  img {
    height: 30%;
  }

  .circle-pic{
    width:220px;
    height:220px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
  }
  
}
